.section__home {
  height: 100vh;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 1032;
  background: #343A4E;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow-y: scroll;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-family: 'Pacifico';
}

#sidebar.active {
  left: 0;
}

.nav-link {
  color: #fff;
}

.nav-link--active {
  color: #007bff;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #7386D5;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: #fff;
  color: #7386D5;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1031;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

.sidebar__list {
  list-style: none;
  padding: 0;
}

.sidebar__list .nav-link--active a {
  color: #343BE5;
}

#about {
  padding: 7px;
}

.about__container {
  padding: 10px;
  -webkit-box-shadow: black 0px 5px 21px;
          box-shadow: black 0px 5px 21px;
  font-family: 'Pacifico';
}

.portfolio {
  height: 100vh;
}

.portfolio .carousel-indicators li {
  background-color: grey;
}

.portfolio .carousel-indicators .active {
  background-color: #000;
}

.portfolio__container {
  height: 100%;
}

.portfolio__container .container-fluid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__container .p-0 {
  padding-top: 20px;
}

.portfolio__container .carousel-item {
  position: relative;
}

.portfolio__container .carousel-item div {
  position: absolute;
  color: #fff;
  bottom: 10%;
  height: auto;
}

.title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  top: 0;
  z-index: 1;
  font-family: 'Pacifico', cursive;
}

.carousel-caption {
  font-family: 'Lobster', cursive;
}

.feedback {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c0c0c0c0;
}

.feedback .btn {
  width: 100%;
  font-family: 'Lobster';
}

.feedback__container {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 81%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px;
          box-shadow: 0px 5px 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.feedback__container h3 {
  font-family: 'Pacifico';
}

.feedback__container > div {
  width: 30%;
}

.form-group textarea {
  resize: none;
}

.form-control {
  font-family: 'Pacifico', cursive;
}

a {
  text-decoration: none;
}

.container-fluid {
  height: 100%;
}

.container-fluid div {
  height: 100%;
}

.container-fluid div img {
  height: 100%;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.carousel-control-next,
.carousel-control-prev {
  height: 10%;
  top: 45%;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 3rem;
  color: black;
}

.circle li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
