@import "./blocks/home";
@import "./blocks/sidebar";
@import "./blocks/about";
@import "./blocks/portfolio";


a {
  text-decoration: none;
}
.container-fluid {
  height: 100%;
  div {
    height: 100%;
    img {
      height: 100%;
    }
  }
}
.p-0 {
  padding: 0;
}
