@import "./blocks/home";
@import "./blocks/sidebar";
@import "./blocks/about";
@import "./blocks/portfolio";


a {
  text-decoration: none;
}
.container-fluid {
  height: 100%;
  div {
    height: 100%;
    img {
      height: 100%;
    }
  }
}
.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}
.carousel-control-next,
.carousel-control-prev {
  height: 10%;
  top: 45%;
}
.fa-angle-left,
.fa-angle-right {
  font-size: 3rem;
  color: black;
}

.circle li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}